# Database Configuration


DATABASE_URL="postgresql://neondb_owner:npg_IDU87zEOqWli@ep-steep-grass-a4kycckd-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require"
DB_SCHEMA="keepa_scrape"
DB_TABLE="downloaded_uk_asin_6m"
KEEPA_API_KEY="a0qvs4np4c51itpojv811buki6bf7b6bf74n85vefsfv3akv37dvh2q22gctg3cg"
KEEPA_DOMAIN=3 
CATEGORIES="10068517031,12598575031,22942438031,17941707031,13716081031,77197031,1571304031,341677031,3010085031,300435"
# Download Settings
TOKENS_PER_REFILL=3900
REFILL_INTERVAL_MINUTES=30
PAGE_SIZE=100
REQUEST_DELAY_SECONDS=0.1
MAX_RETRIES=3